<!DOCTYPE html>
<html>
<head>
  <title>MOOV</title>
  <link rel="favicon" href="favicon.png"/>
  <link rel="stylesheet" href="../move/app/assets/stylesheets/styles.css"/>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
